# these values work with the following helm charts out-of-the-box:
# - https://github.com/kubernetes-csi/csi-driver-smb
# - https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx

service:
  type: NodePort

deployment:
  strategy:
    type: Recreate
  replicas: 1
  image: ghcr.io/mealie-recipes/mealie:latest
  env:
    TZ: America/New_York

persistence:
  enabled: true
  size: 8Gi
  storageClass: smb
  # for the CSI driver SMB - this chart will create a PVC
  # which will then trigger the driver to create the PV itself
  # after your first install, fill in this field with the created PV name
  #
  # existingVolumeName: pvc-<big-uuid>
